@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teletactile";
  src: local(""), url("../public/fonts/Teletactile.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: -48x;
  font-family: "Teletactile", sans-serif;
  background: radial-gradient(
    ellipse at center,
    #020202 0%,
    #080808 35%,
    #030303 95%
  );

  height: 100%;
  color: white;
  cursor: url("../public/cursor/cursor.svg"), auto;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}
.publicSans {
  font-family: "Public Sans", sans-serif;
}
.firaSans {
  font-family: "Fira Sans Condensed", sans-serif;
}
.text-shadowInit1 {
  text-shadow: 0px 0px 10px #cccccc;
}
.text-shadowFirstCollection {
  text-shadow: 0px 0px 10px #66000a;
}
.text-shadowFirst {
  text-shadow: 0px 0px 10px #cccccc;
}
.text-shadowInit1:hover {
  color: #3a86ff;
  text-shadow: 0px 0px 10px #3a86ff;
}
.text-shadowInit2:hover {
  color: #69ff69;
  text-shadow: 0px 0px 10px #69ff69;
}
.text-shadowInit3:hover {
  color: #daee00;
  text-shadow: 0px 0px 10px #daee00;
}
.text-drop1 {
  text-shadow: 0px 0px 10px #66000a;
}
.noise {
  position: fixed;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: black url("/images/noise.png");
  opacity: 0.1;
  animation: noise 2s steps(2, end) infinite both;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}

// CUSTOM TOASTS STYLING
.Toastify__toast-container {
  background-color: #101010 !important;
  font-family: "Fira Sans Condensed", sans-serif;
}
.Toastify__toast-theme--dark {
  background-color: #101010 !important;
  font-size: 16px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.Toastify__toast--error {
  background-color: #10101077 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 8px #f1f1f177 !important;
  color: #ff0000 !important;
  text-shadow: 0px 0px 10px #ff000087;
  font-family: "Fira Sans Condensed", sans-serif;
}
.Toastify__toast--success {
  background-color: #10101077 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 8px #f1f1f177 !important;
  color: #00ff00 !important;
  font-family: "Fira Sans Condensed", sans-serif;
}
.Toastify__progress-bar--error {
  background-color: #ff0000 !important;
}
.Toastify__toast-icon {
  display: none !important;
}
.Toastify__close-button {
  box-shadow: 0 0 2px #f1f1f166 !important;
}
